@import '../base/variables';

footer{
    background-color: $bg-green;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            li{
                color: white;
                font-size: $font-size;
            }
        }
    }
}